@mixin arrow-down {
    border-color: #919191 transparent transparent transparent;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    height: 0;
}

@mixin arrow-up {
    border-color: transparent transparent #919191 transparent;
    border-width: 0 6px 7px 6px;
    border-style: solid;
    height: 0;
}

@mixin transition($time: .3s, $type: ease-in-out, $prop: all) {
    -webkit-transition: $time $type $prop;
    -moz-transition: $time $type $prop;
    -ms-transition: $time $type $prop;
    -o-transition: $time $type $prop;
    transition: $time $type $prop;
}

.close {
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 1px;
    background-color: #333;
    border-radius: 5px;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

$base-icon-color: "16162D";

@function icon-vkontakte($color: "") {
    @if ($color == "") {
        $color: $base-icon-color;
    }
    @return "data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.785 16.241s.288-.032.436-.194c.136-.148.132-.427.132-.427s-.02-1.304.576-1.496c.588-.19 1.341 1.26 2.14 1.818.605.422 1.064.33 1.064.33l2.137-.03s1.117-.071.587-.964c-.043-.073-.308-.661-1.588-1.87-1.34-1.264-1.16-1.059.453-3.246.983-1.332 1.376-2.145 1.253-2.493-.117-.332-.84-.244-.84-.244l-2.406.015s-.178-.025-.31.056c-.13.079-.212.262-.212.262s-.382 1.03-.89 1.907c-1.07 1.85-1.499 1.948-1.674 1.832-.407-.267-.305-1.075-.305-1.648 0-1.793.267-2.54-.521-2.733-.262-.065-.454-.107-1.123-.114-.858-.009-1.585.003-1.996.208-.274.136-.485.44-.356.457.159.022.519.099.71.363.246.341.237 1.107.237 1.107s.142 2.11-.33 2.371c-.325.18-.77-.187-1.725-1.865-.489-.859-.859-1.81-.859-1.81s-.07-.176-.198-.272c-.154-.115-.37-.151-.37-.151l-2.286.015s-.343.01-.469.161C3.94 7.721 4.043 8 4.043 8s1.79 4.258 3.817 6.403c1.858 1.967 3.968 1.838 3.968 1.838h.957z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E";
}

@function icon-facebook($color: "") {
    @if ($color == "") {
        $color: $base-icon-color;
    }
    @return "data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.423 20v-7.298h2.464l.369-2.845h-2.832V8.042c0-.824.23-1.385 1.417-1.385h1.515V4.111A20.255 20.255 0 0 0 14.148 4c-2.183 0-3.678 1.326-3.678 3.76v2.097H8v2.845h2.47V20h2.953z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E";
}

@function icon-twitter($color: "") {
    @if ($color == "") {
        $color: $base-icon-color;
    }
    @return "data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 7.539a6.56 6.56 0 0 1-1.885.517 3.294 3.294 0 0 0 1.443-1.816 6.575 6.575 0 0 1-2.085.796 3.283 3.283 0 0 0-5.593 2.994A9.32 9.32 0 0 1 5.114 6.6a3.28 3.28 0 0 0 1.016 4.382 3.274 3.274 0 0 1-1.487-.41v.041a3.285 3.285 0 0 0 2.633 3.218 3.305 3.305 0 0 1-1.482.056 3.286 3.286 0 0 0 3.066 2.28A6.585 6.585 0 0 1 4 17.524 9.291 9.291 0 0 0 9.032 19c6.038 0 9.34-5 9.34-9.337 0-.143-.004-.285-.01-.425A6.672 6.672 0 0 0 20 7.538z' fill='%23#{$color}' fill-rule='evenodd'/%3E%3C/svg%3E";
}

@function icon-odnoklassniki($color: "") {
    @if ($color == "") {
        $color: $base-icon-color;
    }
    @return "data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23#{$color}' fill-rule='evenodd'%3E%3Cpath d='M11.674 6.536a1.69 1.69 0 0 0-1.688 1.688c0 .93.757 1.687 1.688 1.687a1.69 1.69 0 0 0 1.688-1.687 1.69 1.69 0 0 0-1.688-1.688zm0 5.763a4.08 4.08 0 0 1-4.076-4.075 4.08 4.08 0 0 1 4.076-4.077 4.08 4.08 0 0 1 4.077 4.077 4.08 4.08 0 0 1-4.077 4.075zM10.025 15.624a7.633 7.633 0 0 1-2.367-.98 1.194 1.194 0 0 1 1.272-2.022 5.175 5.175 0 0 0 5.489 0 1.194 1.194 0 1 1 1.272 2.022 7.647 7.647 0 0 1-2.367.98l2.279 2.28a1.194 1.194 0 0 1-1.69 1.688l-2.238-2.24-2.24 2.24a1.193 1.193 0 1 1-1.689-1.689l2.279-2.279'/%3E%3C/g%3E%3C/svg%3E";
}

@function icon-insta($color: "") {
    @if ($color == "") {
        $color: $base-icon-color;
    }
    @return "data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2214%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2015%2014%22%3E%3Cpath%20d%3D%22M4.469%204.469A3.492%203.492%200%200%201%207.03%203.406c1%200%201.844.354%202.532%201.063C10.27%205.156%2010.624%206%2010.624%207c0%201-.354%201.854-1.063%202.563-.687.687-1.53%201.03-2.53%201.03-1%200-1.855-.343-2.563-1.03C3.78%208.854%203.437%208%203.437%207c0-1%20.344-1.844%201.032-2.531zm.906%204.187c.458.459%201.01.688%201.656.688.646%200%201.198-.23%201.657-.688.458-.458.687-1.01.687-1.656%200-.646-.23-1.198-.688-1.656a2.258%202.258%200%200%200-1.656-.688c-.646%200-1.198.23-1.656.688A2.258%202.258%200%200%200%204.687%207c0%20.646.23%201.198.688%201.656zm5.969-5.969c.166.146.25.334.25.563%200%20.23-.084.427-.25.594a.714.714%200%200%201-.563.25.811.811%200%200%201-.594-.25.811.811%200%200%201-.25-.594c0-.23.084-.417.25-.563a.811.811%200%200%201%20.594-.25c.23%200%20.417.084.563.25zM14%204.125c.02.563.031%201.52.031%202.875%200%201.354-.01%202.313-.031%202.875-.063%201.27-.448%202.26-1.156%202.969-.688.687-1.667%201.052-2.938%201.094-.562.041-1.52.062-2.875.062-1.354%200-2.312-.02-2.875-.063-1.27-.062-2.25-.437-2.937-1.124-.271-.25-.49-.542-.657-.876a5.132%205.132%200%200%201-.375-.968%205.633%205.633%200%200%201-.093-1.094C.052%209.312.03%208.355.03%207c0-1.354.021-2.323.063-2.906.062-1.25.437-2.219%201.125-2.907C1.906.48%202.885.095%204.156.032%204.72.011%205.677%200%207.031%200s2.313.01%202.875.031c1.271.063%202.25.448%202.938%201.157.708.687%201.094%201.666%201.156%202.937zm-1.5%207a3.4%203.4%200%200%200%20.156-.625c.042-.27.073-.583.094-.938.02-.374.031-.677.031-.906v-.969V7v-.688-.968c0-.23-.01-.521-.031-.875a8.824%208.824%200%200%200-.094-.938%203.382%203.382%200%200%200-.156-.656%202.255%202.255%200%200%200-1.344-1.344%203.385%203.385%200%200%200-.656-.156%208.841%208.841%200%200%200-.938-.094c-.354-.02-.645-.031-.874-.031H5.374c-.23%200-.531.01-.906.031-.354.021-.667.052-.938.094-.25.042-.458.094-.625.156a2.255%202.255%200%200%200-1.344%201.344%203.387%203.387%200%200%200-.156.656c-.041.25-.073.563-.093.938-.021.354-.032.646-.032.875v3.75c.021.312.042.583.063.812a8.282%208.282%200%200%200%20.218%201.219c.271.646.72%201.094%201.344%201.344.167.062.375.114.625.156.271.042.584.073.938.094.375.02.666.031.875.031h3.343c.23%200%20.521-.01.876-.031a8.85%208.85%200%200%200%20.937-.094c.27-.042.49-.094.656-.156.646-.271%201.094-.719%201.344-1.344z%22%20fill%3D%22%23#{$color}%0A%22%2F%3E%3C%2Fsvg%3E";
}

@function icon-google($color: "") {
    @if ($color == "") {
        $color: $base-icon-color;
    }
    @return "data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2021%22%3E%3Cpath%20d%3D%22M19.531%2010.734c0%202.76-.872%205.026-2.617%206.797-1.719%201.771-3.971%202.657-6.758%202.657-2.682%200-4.974-.938-6.875-2.813C1.406%2015.474.47%2013.182.47%2010.5c0-2.682.937-4.96%202.812-6.836C5.182%201.763%207.474.812%2010.156.812c2.526%200%204.688.847%206.485%202.54L14.023%205.89a4.998%204.998%200%200%200-3.007-1.407c-1.146-.156-2.227-.013-3.243.43-.99.417-1.849%201.133-2.578%202.149-.703.99-1.054%202.135-1.054%203.437%200%201.693.586%203.138%201.757%204.336%201.172%201.198%202.592%201.797%204.258%201.797.912%200%201.719-.143%202.422-.43.73-.312%201.29-.69%201.68-1.133.417-.468.729-.924.937-1.367.235-.443.39-.86.47-1.25h-5.509v-3.36h9.219c.104.574.156%201.12.156%201.641z%22%20fill%3D%22%23#{$color}%22%2F%3E%3C%2Fsvg%3E";
}

@function icon-check($color: "") {
    @if ($color == "") {
        $color: 'fff';
    }
    @return "data:image/svg+xml, %3Csvg width='10' height='8' fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 8'%3E%3Cpath d='M8.494.758a.882.882 0 1 1 1.248 1.248L4.447 7.3a.882.882 0 0 1-1.247 0L.258 4.36A.882.882 0 1 1 1.506 3.11L3.824 5.43l4.67-4.67z' fill='%23#{$color}'/%3E%3C/svg%3E";
}

@function icon-favorite($active: false) {
    $active-color: "FFD223";
    $fill: "%20";
    @if ($active) {
        $fill: "%20fill%3D%22%23#{$active-color}%22%20";
    }
    @return "data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cpath%20d%3D%22M11%201.604l2.28%205.483a2%202%200%200%200%201.687%201.226l5.92.474-4.51%203.864a2%202%200%200%200-.644%201.983l1.378%205.777-5.069-3.096a2%202%200%200%200-2.085%200L4.89%2020.411l1.378-5.777a2%202%200%200%200-.644-1.983l-4.51-3.864%205.92-.474a2%202%200%200%200%201.686-1.226l-.923-.384.923.384L11%201.604z%22%20stroke%3D%22%23333%22#{$fill}stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E";
}

@function icon-remind($active: false) {
    $active-color: "FFD223";
    $fill: "%20";
    $fill-rule: "evenodd";
    @if ($active) {
        $fill: "%20fill%3D%22%23#{$active-color}%22%20";
        $fill-rule: 'nonzero'
    }
    @return "data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2226%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022%2026%22%3E%3Cpath%20fill-rule%3D%22#{$fill-rule}%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.5%203.418v1.19c-.828.215-1.653.584-2.386%201.206-1.527%201.297-2.43%203.494-2.43%206.943%200%202.426-1.37%204.747-3.456%207.28A1%201%200%200%200%201%2021.672h6.501a3.5%203.5%200%200%200%206.998%200H21a1%201%200%200%200%20.772-1.635c-2.085-2.533-3.456-4.854-3.456-7.28%200-3.449-.903-5.646-2.43-6.943-.733-.622-1.558-.992-2.386-1.206v-1.19a2.5%202.5%200%200%200-5%200zm2.5-.5a.5.5%200%200%200-.5.5v.919a14.09%2014.09%200%200%201%201%200v-.919a.5.5%200%200%200-.5-.5zm1.497%2018.754H9.503a1.5%201.5%200%200%200%202.994%200zM11%206.328c-1.376%200-2.651.212-3.591%201.01-.91.774-1.725%202.291-1.725%205.42%200%202.515-1.122%204.793-2.646%206.914h15.924c-1.524-2.122-2.646-4.399-2.646-6.915%200-3.128-.814-4.645-1.725-5.418-.94-.799-2.215-1.011-3.591-1.011z%22%20fill%3D%22%23333%22%2F%3E%3C%2Fsvg%3E";
}

@function icon-arrow-left($active: false) {
    $active-color: "FFD223";
    $stroke: "636363";
    @if ($active) {
        $stroke: $active-color;
    }
    @return "data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2234%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2014%2034%22%3E%3Cpath%20d%3D%22M13%201L1%2017l12%2016%22%20stroke%3D%22%23#{$stroke}%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E";
}

@function icon-arrow-right($active: false) {
    $active-color: "FFD223";
    $stroke: "636363";
    @if ($active) {
        $stroke: $active-color;
    }
    @return "data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2234%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2014%2034%22%3E%3Cpath%20d%3D%22M1%201l12%2016L1%2033%22%20stroke%3D%22%23#{$stroke}%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E";
}

@function icon-pen($color: "") {
    @if ($color == "") {
        $color: 'fff';
    }
    @return "data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M9.95%202.696l3.254%203.255-8.239%208.239-3.253-3.255L9.95%202.696zm5.724-.785L14.222.46a1.44%201.44%200%200%200-2.034%200l-1.39%201.39%203.254%203.255%201.622-1.622a1.11%201.11%200%200%200%200-1.572zM.009%2015.51a.37.37%200%200%200%20.448.44l3.627-.879-3.253-3.255L.01%2015.51z%22%20fill%3D%22%23#{$color}%22%2F%3E%3C%2Fsvg%3E";
}

@function icon-personal-auto($color: "") {
    @if ($color == "") {
        $color: $base-icon-color;
    }
    @return "data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2214%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2014%22%3E%3Cpath%20d%3D%22M30.815%205.433c-.588-.196-4.674-1.09-4.674-1.09S18.567.038%2017.658.038l-7.145.002C8.99.04%207.718%201.2%206.244%202.544c-.695.634-1.462%201.33-2.308%201.95l-3.15.42A1.128%201.128%200%200%200%200%205.987v3.61c0%20.622.505%201.127%201.128%201.127h2.165a3.551%203.551%200%200%200%203.533%203.238%203.552%203.552%200%200%200%203.533-3.238h10.336a3.551%203.551%200%200%200%203.533%203.238%203.552%203.552%200%200%200%203.533-3.238h1.779c1.409%200%202.098-.608%202.27-1.18.438-1.445.123-3.738-.995-4.112zm-23.99%206.82a1.84%201.84%200%200%201-1.837-1.837%201.84%201.84%200%200%201%201.838-1.838%201.84%201.84%200%200%201%201.837%201.838%201.84%201.84%200%200%201-1.837%201.838zm6.823-7.91H7.484a23.12%2023.12%200%200%200%201.238-1.071c.998-.91%201.86-1.696%202.891-1.696l2.035-.001v2.769zm1.5-2.769h1.784c.85%200%204.295%202%205.588%202.77h-7.372v-2.77zm9.08%2010.68a1.84%201.84%200%200%201-1.837-1.838%201.84%201.84%200%200%201%201.837-1.838%201.84%201.84%200%200%201%201.838%201.838%201.84%201.84%200%200%201-1.838%201.838z%22%20fill%3D%22%23#{$color}%22%2F%3E%3C%2Fsvg%3E";
}