@mixin arrow-down {
    border-color: #919191 transparent transparent transparent;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    height: 0;
}

@mixin arrow-up {
    border-color: transparent transparent #919191 transparent;
    border-width: 0 6px 7px 6px;
    border-style: solid;
    height: 0;
}

@mixin transition($time: .3s, $type: ease-in-out, $prop: all) {
    -webkit-transition: $time $type $prop;
    -moz-transition: $time $type $prop;
    -ms-transition: $time $type $prop;
    -o-transition: $time $type $prop;
    transition: $time $type $prop;
}

@mixin inner-content {
    padding: 40px 108px 64px;
    box-sizing: border-box;

    @include xl-block {
        padding: 40px 78px 40px;
    }

    @include md-block {
        padding: 32px 48px 32px;
    }

    @include sm-block {
        padding: 12px;
    }
}

.close {
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 1px;
    background-color: #333;
    border-radius: 5px;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

@mixin rotate($deg: 180deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}