.add-to-favorite {
    position: relative;
    padding-left: 35px;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: auto;
        margin: auto;
        width: 22px;
        height: 21px;
        background-image: url(icon-favorite());
        background-repeat: no-repeat;
    }

    &.active {
        &:before {
            background-image: url(icon-favorite(true));
        }
    }
}

.remind-me {
    position: relative;
    padding-left: 35px;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: auto;
        margin: auto;
        width: 22px;
        height: 26px;
        background-image: url(icon-remind());
        background-repeat: no-repeat;
    }

    &.active {
        &:before {
            background-image: url(icon-remind(true));
        }
    }
}

.link {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: $blue;
    text-decoration: none;
}

iframe {
    width: 100%;
}

.icon-vk {
    position: relative;

    &:before {
        content: '';
        background: url(icon-vkontakte()) no-repeat;
    }

    &_color {
        position: relative;

        &:before {
            content: '';
            background: url(icon-vkontakte('4C75A3')) no-repeat;
            width: 35px;
            height: 35px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
}

.icon-fb {
    position: relative;

    &:before {
        content: '';
        background: url(icon-facebook()) no-repeat;
        width: 35px;
        height: 35px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    &_color {
        position: relative;

        &:before {
            content: '';
            background: url(icon-facebook('3C5A99')) no-repeat;
            width: 35px;
            height: 35px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
}

.icon-ok {
    position: relative;

    &:before {
        content: '';
        background: url(icon-odnoklassniki()) no-repeat;
    }

    &_color {
        position: relative;

        &:before {
            content: '';
            background: url(icon-odnoklassniki('ED812B')) no-repeat;
            width: 35px;
            height: 35px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        };
    }
}

.icon-google {
    position: relative;

    &:before {
        content: '';
        background: url(icon-google()) no-repeat;
    }

    &_color {
        position: relative;

        &:before {
            content: '';
            background: url(icon-google('C4302B')) no-repeat;
            width: 20px;
            height: 21px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
}