body .add-to-favorite {
    position: relative;
    padding-left: 35px;
    border: none;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: auto;
        margin: auto;
        width: 22px;
        height: 21px;
        background-image: url(icon-favorite());
        background-repeat: no-repeat;
    }

    &.active {
        &:before {
            background-image: url(icon-favorite(true));
        }
    }
}

body .remind-me {
    position: relative;
    padding-left: 35px;
    border: none;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: auto;
        margin: auto;
        width: 22px;
        height: 26px;
        background-image: url(icon-remind());
        background-repeat: no-repeat;
    }

    &.active {
        &:before {
            background-image: url(icon-remind(true));
        }
    }
}

.link {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: $blue;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    @include transition();

    &:hover {
        border-bottom: 1px solid $blue;
    }
}

iframe {
    width: 100%;
}

.icon-vk {
    position: relative;

    &:before {
        content: '';
        background: url(icon-vkontakte()) no-repeat;
    }

    &_color {
        position: relative;

        &:before {
            content: '';
            background: url(icon-vkontakte('4C75A3')) no-repeat;
            width: 35px;
            height: 35px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
}

.icon-fb {
    position: relative;

    &:before {
        content: '';
        background: url(icon-facebook()) no-repeat;
        width: 35px;
        height: 35px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    &_color {
        position: relative;

        &:before {
            content: '';
            background: url(icon-facebook('3C5A99')) no-repeat;
            width: 35px;
            height: 35px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
}

.icon-ok {
    position: relative;

    &:before {
        content: '';
        background: url(icon-odnoklassniki()) no-repeat;
    }

    &_color {
        position: relative;

        &:before {
            content: '';
            background: url(icon-odnoklassniki('ED812B')) no-repeat;
            width: 35px;
            height: 35px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        };
    }
}

.icon-google {
    position: relative;

    &:before {
        content: '';
        background: url(icon-google()) no-repeat;
    }

    &_color {
        position: relative;

        &:before {
            content: '';
            background: url(icon-google('C4302B')) no-repeat;
            width: 20px;
            height: 21px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
}

/* Скрываем реальный чекбокс */
.input-checkbox {
    display: none;
}
/* Задаем внешний вид для кастомного чекбокса */
.input-checkbox-custom {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid rgba(18, 122, 239, 0.75);
}

/* Кастомный чекбокс и лейбл центрируем по вертикали. Свойство display: inline-block обязательно должно быть */
.input-checkbox-custom,
.label-text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

.label,
.label_checkbox {
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }
}

/* Если реальный чекбокс отмечен, то тогда добавляем данный признак к кастомному чекбоксу */
.input-checkbox:checked + .input-checkbox-custom {
    background-color: $blue;

    &::before {
        content: "";
        display: block;
        position: absolute;
        /* Задаем расстояние от верхней, правой, нижней и левой границы */
        background-image: url(icon-check());
        background-repeat: no-repeat;
        background-position: center;
        background-color: $blue;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
