// Colors
$yellow: #FFD223;
$very-light-gray: #ABABAB; //TODO: дать нормальное имя
$light-gray: #777777;
$gray: #333333;
$dark-gray: #16162D;
$white: #FFFFFF;
$dirty-white: #EBEBEB; //TODO: дать нормальное имя

// Text
$base-color-text: $gray;


// Header
$header-bg: $yellow;
$header-menu-bg: $dark-gray;
$header-menu-color: $white;

// Search
$search-bgc: $white;
$search-input-text: $very-light-gray;
$search-button-color: $dark-gray;
$search-button-bgc: $dirty-white;

// Footer
$footer-bg: $white;
$footer-border: #E0E0E0;
$footer-color-menu: $dark-gray;

// Logo
$logo-text: $gray;

// Sum menu
$sub-menu-item: $gray;

// Personal area
$personal-area-bg: $dirty-white;

// Personal auto
$personal-auto: $gray;

// Filter main
$filter-main-title: $dark-gray;

// Section bgc
$section-white: $white;
$section-gray: #F3F3F3;

// Marks and models
$model-title: #BDBDBD;

