section.interesting
    .interesting__content
        .interesting__title Вам будет интересно:
        .interesting__list
            a(href='#').interesting__link Когда менять и какое масло заливать в Камри V50
            a(href='#').interesting__link Неисправности генератора - признаки, диагностика, причины, проверка
            a(href='#').interesting__link Когда менять и какое масло заливать в Камри V50
            a(href='#').interesting__link Неисправности генератора - признаки, диагностика, причины, проверка
            a(href='#').interesting__link Когда менять и какое масло заливать в Камри V50
            a(href='#').interesting__link Когда менять и какое масло заливать в Камри V50
