.card-question {
    position: relative;
    display: inline-block;
    width: #{calc(50% - 8px)};
    min-height: 185px;
    border-radius: 8px;
    background-color: $white;
    text-decoration: none;

    @include sm-block {
        width: 100%;
    }

    &:hover {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
    }


    &__remove {
        position: absolute;
        top: -1px;
        right: -1px;
        z-index: 100;
        border-radius: 0 8px 0 8px;
        background-color: $white;
        padding: 4px 6px 6px 32px;
        cursor: pointer;

        &:before {
            left: 6px;
        }
        &:after {
            left: 10px;
        }
    }

    &__inner {
        padding: 19px 15px 16px 24px;
    }

    &__auto {
        position: relative;
        font-weight: 300;
        font-size: 15px;
        color: #16162d;
        padding-left: 25px;

        &:before {
            content: "";
            position: absolute;
            background: url("../img/sprites/intermediate-svg/auto-front.svg")
                no-repeat;
            width: 16px;
            height: 12px;
            top: 0;
            bottom: 0;
            right: auto;
            left: 0;
            margin: auto;
        }
    }

    &__title {
        font-weight: normal;
        font-size: 20px;
        color: #16162d;
        margin-top: 15px;
        margin-bottom: 45px;
    }

    &__status {
        display: inline-block;
        min-width: 128px;
        max-height: 30px;
        padding: 5px 10px;
        background: #e0e0e0;
        border-radius: 3px;
        text-align: center;
        color: #000000;
        font-weight: 300;
        box-sizing: border-box;
    }

    &__has-answer {
        background: #b2edce;
    }

    &-list {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & ~ .link {
            display: inline-block;
            margin-top: 20px;
        }

        & .card-question {
            margin-bottom: 16px;


            @include sm-block {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &_3-col .card-question {
            max-width: #{calc(33% - 20px)};

            @include lg-block {
                max-width: #{calc(50% - 8px)};
            }

            @include sm-block {
                max-width: 100%;
            }
        }
    }
}
