include ../../components/personal-auto/personal-auto
include ../../components/search/search
header.header
    .header__inner
        .container
            .header__top
                .header__logo
                    .header__mobile-menu-icon
                        button.hamburger.hamburger--collapse.js-mobile-menu-icon(type="button" aria-label="Меню" aria-controls="navigation")
                            span.hamburger-box
                                span.hamburger-inner
                    a(href="/")
                        include ../../components/logo/logo
                .header__center
                    include ../../components/sub-menu/sub-menu
                    +search('Поиск по сайту', true)
                .header__right
                    .header__personal-area-icon
                        include ../../components/personal-area-icon/personal-area-icon
                        a(href="#", data-modal-type='ask-question').button-black.header__ask-question.js-modal-open Задать вопрос
                    +personal-auto('Mazda 323 III (BF) 1985 - 1989')
    include ../../components/mobile-menu/mobile-menu
    .header__menu
        .container
            include ../../components/menu/menu




