include ../../components/personal-auto/personal-auto

header.header
    .container
        .header__top
            .header__logo
                a(href="/")
                    include ../../components/logo/logo
            .header__center
                include ../../components/sub-menu/sub-menu
                include ../../components/search/search
            .header__right
                .header__personal-area
                    include ../../components/personal-area/personal-area
                    a(href="#").button-black.header__ask-question Задать вопрос
                +personal-area('Mazda 323 III (BF) 1985 - 1989')



