include ../../components/personal-auto/personal-auto
include ../../components/search/search
header.header
    .header__inner
        .container
            .header__top
                .header__logo
                    .header__mobile-menu-icon
                        button.hamburger.hamburger--collapse.js-mobile-menu-icon(type="button" aria-label="Меню" aria-controls="navigation")
                            span.hamburger-box
                                span.hamburger-inner
                    a(href="/")
                        include ../../components/logo/logo
                .header__center
                    include ../../components/sub-menu/sub-menu
                    +search('Поиск по сайту', true)
                .header__right
                    .header__personal-area-icon
                        include ../../components/personal-area-icon/personal-area-icon
                        a(href="#").button-black.header__ask-question Задать вопрос
                    +personal-auto('Mazda 323 III (BF) 1985 - 1989')
    .header__menu
        .container
            nav.header__menu-list
                a(href="#").header__menu-item
                    img(src="img/sprites/intermediate-svg/icon-engine.svg", alt="")
                    span  Двигатель
                a(href="#").header__menu-item
                    img(src="img/sprites/intermediate-svg/icon-transmission.svg", alt="")
                    span  Трансмиссия
                a(href="#").header__menu-item
                    img(src="img/sprites/intermediate-svg/icon-car-body.svg", alt="")
                    span  Кузов
                a(href="#").header__menu-item
                    img(src="img/sprites/intermediate-svg/icon-electric.svg", alt="")
                    span  Электрика
                a(href="#").header__menu-item
                    img(src="img/sprites/intermediate-svg/icon-running-system.svg", alt="")
                    span  Ходовая система




