section.not-found
    .container
        .not-found__inner
            .not-found__img
                img(src="img/sprites/intermediate-svg/404.svg", alt="")
            .not-found__content
                h1.h1 Страница не найдена!
                .not-found__text
                    p
                        |К сожалению, запрашиваемая вами страница не найдена.
                        | Возможно, виной тому устаревшая ссылка. Или ошибка в строке ввода, кто знает.
                    p Мы предлагаем перейти в один из основных разделов:
                include ../services/services
