.error {
    margin-top: 50px;
    text-align: center;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &-left {
        max-width: 304px;
        margin: auto;
    }
    &-right {
        max-width: 602px;
        margin: auto;

        &__h1 {
            padding-bottom: 40px;
        }

        &-services {
            &__img {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__text {
        width: 525px;
        font-weight: normal;
        font-size: 15px;
        color: #333333;
    }
}

.service-name {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}
