include ../search/search

section.filter-main(style='background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/filter-main-bg.jpg);')
    .container
        .filter-main__title Найти ответ - быстро и просто!
        .filter-main__content
            include ../car-selection/car-selection
            .filter-main__search
                .filter-main__search-title Поиск по базе материалов
                +search('Что вы ищете?')


