.share-list {
  display: flex;
  align-items: center;

  &__title {
    margin-right: 10px;
    font-size: 18px;
  }
}


.ya-share2 {

  &__item {
    padding: 0 !important;
    margin-right: 10px !important;

    &:last-child {
      margin-right: 0 !important;
    }

    &:before {
      content: none;
    }
  }

  &__item &__badge {
    background-color: $yellow !important;
    border-radius: 0 !important;
  }

  &__item &__badge &__icon {
    width: 32px;
    height: 32px;
  }

  &__item_service_vkontakte &__icon {
    background: url(icon-vkontakte()) !important;
  }

  &__item_service_facebook &__icon {
    background: url(icon-facebook()) !important;
  }

  &__item_service_twitter &__icon {
    background: url(icon-twitter()) !important;
  }

  &__item_service_odnoklassniki &__icon {
    background: url(icon-odnoklassniki()) !important;
  }

}


