.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 0;
    color: $header-menu-color;
    @include lg(font-size, 15px);

    & img {
      max-width: 40px;
      max-height: 26px;
      width: 100%;
    }

    & span {
      margin-left: 10px;
      display: block;
      white-space: nowrap;
      @include sm(display, none);
    }
  }
}
