body {
    background-color: #5f9ea0;
}
.modal {
    position: relative;
    padding: 45px 50px 55px;
    background-color: $white;
    box-sizing: border-box;
    width: 100%;
    margin: auto;

    & a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #000;
        text-decoration: none;
    }

    &__close {
        position: absolute;
        right: 0;
        top: 0;
        width: 46px;
        height: 46px;
        background: $yellow;
        opacity: 1;
        cursor: pointer;

        &:before,
        &:after {
            height: 26px;
            width: 2px;
            background-color: $base-color-text;
            top: 10px;
            left: 22px;
        }
    }

    &__auth-registr {
        max-width: 500px;
        text-align: center;
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        color: $dark-gray;
        padding-bottom: 30px;
    }

    &__text {
        font-weight: normal;
        font-size: 15px;
        color: #333333;
    }

    &__hulf {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        &-sign-in {
            width: 170px;
            height: 42px;
            box-sizing: border-box;
            padding-top: 0;
            padding-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__link {
        &-forgot {
            margin-right: auto;
            margin-left: auto;
        }
    }

    &__tab {
        &-menu {
            display: inline-block;
            list-style-type: none;
            border: 2px solid $dark-gray;
            box-sizing: border-box;
            border-radius: 8px;
            font-size: 0;
            text-align: center;

            & li {
                display: inline-block;
                padding: 7px 23px;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                color: $dark-gray;
                cursor: pointer;

                &.active {
                    background-color: $dark-gray;
                    color: $white;
                }
            }
        }

        &-list {
            margin-top: 30px;
            text-align: left;

            & input {
                width: 100%;
                height: 42px;
                margin-bottom: 12px;
            }
        }

        &-item {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}

.form-dispatch {
    & label {
        display: block;
        margin-bottom: 20px;
    }

    & input {
        width: 100%;
    }

    & textarea {
        width: 100%;
        background: #eff1f4;
        border-radius: 4px;
        border: none;
        font-weight: normal;
        font-size: 15px;
        color: #ababab;
    }

    & p {
        font-weight: normal;
        font-size: 14px;
        color: #919191;
    }

    & a {
        color: #919191;
        text-decoration: none;
    }
}

.button__send {
    width: 310px;
}

.checkbox {
    display: none;
}

/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    position: relative; /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 20px; /* Обязательно задаем ширину */
    height: 20px; /* Обязательно задаем высоту */
    border: 2px solid #ccc;
    border-radius: 3px;
}
