include ../../components/select/select
.modal
    .modal__close
    .modal__title Задать вопрос
    .modal__text Не нашлось нужной публикации? Специалисты готовы поделиться своими знаниями. Спрашивай!
    .modal__text Ваш автомобиль
-
    var optionsMark = [
        'Марка',
        'Toyota',
        'Лада',
        'Mazda'
    ];

-
    var optionsModel = [
        'Модель',
        'Camry',
        'Vesta',
        '323'
    ];

-
    var optionsGeneration = [
        'Поколение',
        '2018',
        '2016',
        'III (BF), 1985 — 1989'
    ];

.modal.mask-question

    form
        +select(optionsMark)
        +select(optionsModel)
        +select(optionsGeneration)

    .modal__text Ваш вопрос
    form.form-dispatch
        label
            input(name='question', type='text', placeholder='Заголовок вопроса')
        label    
            textarea(name="textarea", placeholder="Текст вопроса")
    button.button-yellow.button__send Отправить
    p='Нажимая на кнопку, Вы соглашаетесь на обработку'
    a(href='#')='персональных данных'         