.modal.modal__auth-registr.js-tabs
    .close.modal__close
    ul.modal__tab-menu
        li.active(data-tab-menu='auth') Вход с паролем
        li(data-tab-menu='register') Регистрация
    .modal__tab-list
        .modal__tab-item(data-tab-item='auth')
            form(action='', method='post').modal__auth
                input(name='email', type='text', placeholder='Электронная почта')
                input(name='password', type='password', placeholder='Пароль')
                .modal__hulf
                    button(type='submit').button.button-yellow.modal__button-sign-in Войти
                    a(href='#').modal__link-forgot Забыли пароль?
        .modal__tab-item(data-tab-item='register')
            form(action='', method='post').modal__registr
                input(name='name', type='text', placeholder='Как к вам обращаться?')
                input(name='email', type='text', placeholder='Электронная почта')
                input(name='password', type='password', placeholder='Пароль')
                input(name='password_confirmation', type='password', placeholder='Повторите пароль')
                button(type='submit').button.button-yellow Зарегистрироваться
                p='Нажимая на кнопку, Вы соглашаетесь на обработку'
                a(href='#')='персональных данных'
    .modal__social
        .modal__title-center
        .modal__social-list
            a(href="#").modal__social-item.icon-vk_color
            a(href="#").modal__social-item.icon-fb_color
            a(href="#").modal__social-item.icon-ok_color
            a(href="#").modal__social-item.icon-google_color

