button,
select,
span {
    &:active,
    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
}

.button-black {
    display: inline-block;
    padding: 14px 35px;
    background: #16162d;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    &:hover {
    }

    &:active {
        opacity: 0.8;
    }
}

.button-yellow {
    display: inline-block;
    padding: 14px 35px;
    background: #ffd223;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: $base-color-text;

    &:hover {
        background: #f2c208;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.4);
    }

    &:active {
        background: #f2c208;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: none;
    }
}

.button-add {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #16162d;
    padding: 10px 30px 10px 40px;
    text-align: center;
    border: 1px solid #16162d;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    background-color: $white;

    &:hover {
        background: #16162d;
        color: #ffffff;
    }

    &:active {
        color: rgba(255, 255, 255, 0.8);
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        background-color: #16162d;
        border-radius: 2px;
        top: 0;
        bottom: 0;
        left: 20px;
        right: auto;
        margin: auto;
    }

    &:before {
        width: 10px;
        height: 2px;
    }

    &:after {
        width: 2px;
        height: 10px;
        left: 24px;
    }

    &:hover:after,
    &:hover:before {
        background: #ffffff;
    }

    &:active:before,
    &:active:after {
        background: rgba(255, 255, 255, 0.8);
    }
}

.mark {
    display: inline-block;
    font-size: 14px;
    background: rgba(255, 210, 35, 0.5);
    border-radius: 2px;
    text-transform: lowercase;
    color: $base-color-text;
    text-align: center;
    padding: 7px;
}

.remove {
    position: relative;
    font-size: 15px;
    color: #919191;
    padding-left: 28px;
    text-decoration: none;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        top: 0;
        bottom: 0;
        left: 0;
        right: auto;
        margin: auto;
        background-color: $gray;
        border-radius: 50%;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 4px;
        right: auto;
        margin: auto;
        width: 10px;
        height: 2px;
        background: $white;
        border-radius: 4px;
    }
}

.modal {
    padding: 30px 40px 50px 45px;
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    background-color: beige;

    &__text {
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        color: #333333;
    }
}

.checkbox {
    width: 24px;
    height: 24px;
    background: #ffffff;
    border: 2px solid rgba(18, 122, 239, 0.75);
    box-sizing: border-box;
}

.checkbox-custom {
    width: 24px;
    height: 24px;
    background: #ffffff;
    border: 2px solid rgba(18, 122, 239, 0.75);
    box-sizing: border-box;
}
