button.button-yellow Кнопка
a(href).button-yellow Link Кнопка



.button.button-black Кнопка
a(href).button-black Link Кнопка


.button.button-add Добавить


.mark Техобслуживание

h1.h1  Популярное 
h2.h2 Популярное
h3.h3  Популярное




section.comments
    .comments__inner
        .comments__quantity-text 4 комментария
        .form.comments__posting-form
            input(name="q", type="text", placeholder="Оставить комментарий...")
            button.button-yellow.button-comments(type="submit") Отправить
        ul.comments__list
            li.comments__item
                .comments__author
                    img(src='img/comments.jpg', alt='')
                    .comments__info
                        .comments__name Иван Сидоров
                        .comments__date 2.04.2019
                .comments__text 
                    |Видел такой сервис... ключевые заголовки на странице 
                    |меняются под поисковый запрос. Не думал, что это тайна 
                    |вообще
                    |Видел такой сервис... ключевые заголовки на странице 
                    |меняются под поисковый запрос. Не думал, что это тайна 
                    |вообще
                button.comments__reply(type="button") Ответить

            li.comments__item
                .comments__author
                    img(src='img/comments.jpg', alt='')
                    .comments__info
                        .comments__name Василий Петров
                        .comments__date 2.04.2019
                    .comments__answer
                        img.comments__answer-img(src="img/sprites/intermediate-svg/comments-arrow.svg", alt="")
                        .comments-name__answer Иван Сидоров    
                .comments__text 
                    |Видел такой сервис... ключевые заголовки на странице 
                    |меняются под поисковый запрос. Не думал, что это тайна 
                    |вообще
                button.comments__reply(type="button") Ответить



        .comments__answer
            img.comments__answer-img(src="img/sprites/intermediate-svg/comments-arrow.svg", alt="")
            .comments-name__answer Иван Сидоров
