button.button-yellow Кнопка
a(href).button-yellow Link Кнопка



.button.button-black Кнопка
a(href).button-black Link Кнопка


.button.button-add Добавить


.mark Техобслуживание

h1.h1  Популярное 
h2.h2 Популярное
h3.h3  Популярное

.card
    img(src="img/card.jpg" alt="")
    .card__title Замена тормозной жидкости
    .mark.card__mark Техобслуживание


.card-question
    .card-question__inner
        .card-question__auto 
            |Mazda 323 III (BF) 1985 — 1989
        .card-question__problem
            |Как установить другую магнитолу на Мазда 323 БФ?
        .card-question__answer Есть ответ       



.car-selection 
    .car-selection__inner
        .car-selection__top
            .car-selection__title
                |Выбор автомобиля
            .car-selection__reset
                |Сбросить
        .car-selection__center
            .car-selection__text Вы выбрали
            ul.car-selection__choice
                li легковой
                    span
                li Mazda
                    span
                li 323
                    span
                li III (BF), 1985 — 1989
                    span
            .car-selection__text Выберите область
            select
                option(value=" Работы по техобслуживанию") Работы по техобслуживанию
                option(value=" Работы по техобслуживанию") Работы по техобслуживанию
                option(value=" Работы по техобслуживанию") Работы по техобслуживанию




.note 
    .note__inner 
        .note__left
            .note__text
                |Душа моя озарена неземной радостью, как эти чудесные весенние утра, 
                |которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, 
                |словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, 
                |что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда 
                |не был таким большим художником, как в эти минуты.
        .note__right
            img(src="img/note.jpg", alt="")    
