button.button-yellow Кнопка
a(href).button-yellow Link Кнопка



.button.button-black Кнопка
a(href).button-black Link Кнопка


.button.button-add Добавить


.mark Техобслуживание

h1.h1  Популярное 
h2.h2 Популярное
h3.h3  Популярное





.personal-area__auto
    .personal-area__info 
        |Lexus LX III Рестайлинг 2 2015 - н.в.
    a(href="#").personal-area-area__remove  
    .personal-area__remove Удалить    




.ledger
    .ledger__head
        .ledger__row
            .ledger__item Дата
            .ledger__item Пробег
            .ledger__item  Тип обслуживания
            .ledger__item Комментарии
            .ledger__item Следующее ТО
            .ledger__item
    .ledger__body
        .ledger__row
            .ledger__item(data-th="Дата") 15 окт 2018
            .ledger__item(data-th="Пробег") 20 000 км 
            .ledger__item(data-th="Тип обслуживания") Замена топливного фильтра
            .ledger__item(data-th="Комментарии") Замена после покупки авто
            .ledger__item(data-th="Следующее ТО") 15 окт 2019
            .ledger__remove Удалить    
        .ledger__row
            .ledger__item(data-th="Дата") 15 окт 2018
            .ledger__item(data-th="Пробег") 20 000 км 
            .ledger__item(data-th="Тип обслуживания") Замена топливного фильтра
            .ledger__item(data-th="Комментарии") Замена после покупки авто
            .ledger__item(data-th="Следующее ТО") 15 окт 2019
        .ledger__row
            .ledger__item(data-th="Дата") 15 окт 2018
            .ledger__item(data-th="Пробег") 20 000 км 
            .ledger__item(data-th="Тип обслуживания") Замена топливного фильтра
            .ledger__item(data-th="Комментарии") Замена после покупки авто
            .ledger__item(data-th="Следующее ТО") 15 окт 2019
        .ledger__row
            .ledger__item(data-th="Дата") 15 окт 2018
            .ledger__item(data-th="Пробег") 20 000 км 
            .ledger__item(data-th="Тип обслуживания") Замена топливного фильтра
            .ledger__item(data-th="Комментарии") Замена после покупки авто
            .ledger__item(data-th="Следующее ТО") 15 окт 2019





