nav.sub-menu
    ul._list
        li._item
            a(href="#") Все материалы
        li._item
            a(href="#") Автомобили
        li._item
            a(href="#") Вопрос/ответ
        li._item
            a(href="#") О нас
