.personal-area-icon{
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $personal-area-icon-bg;

  &:before {
    content: '';
    position: absolute;
    background: url("../img/sprites/intermediate-svg/personal-area.svg") no-repeat;
    width: 16px;
    height: 18px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}