section.article-detail
    .container
        img.articles-img(src="img/articles.jpg", alt="")
        .article-content
            p
                |Замена тормозной жидкости — обязательная процедура, целью которой является обеспечение
                |нормальной работы тормозной системы автомобиля. Замену можно проводить на СТО или в
                |домашних условиях. Однако процедура эта несложная, поэтому большинство автомобилистов
                |вполне могут самостоятельно выполнить ее, сэкономив тем самым деньги. Исключением могут
                |стать лишь машины с АБС, поскольку иногда требуется специальное оборудование.
            p
                |Стоит отметить, что существует два основных метода замены ТЖ — с последовательный и
                |параллельный. Первый является наиболее популярным. Его суть заключается в
                |последовательной замене жидкости в каждом отдельном исполняющем тормозном цилиндре.
                |Во-первых, этот способ быстрее, а во-вторых, с его помощью автовладельцу не нужен помощник.
                |Второй метод подразумевает полное опустошение магистралей и цилиндров тормозной системы,
                |и последующее их заполнение новой жидкостью. Его недостатками является длительное время
                |выполнения, некоторые неудобства и обязательное наличие помощника для прокачки тормозной
                |системы.

            h2 Алгоритм замены
            p
                |Последовательность действий по замене тормозной жидкости немного отличается у машин
                |с АБС и без таковой. В случае, если гидроаккумулятор, насос и блок клапанов АБС входят
                |в один узел, то возможна замена ТЖ своими руками, как и для машины без АБС. Но если же
                |гидроаккумулятор расположен отдельно, то замену нужно выполнять на СТО, поскольку для
                |этого нужно специальное оборудование, которое нагнетает дополнительное давление в системе.
            p
                |Перед описание непосредственно замены тормозной жидкости по регламенту, необходимо
                |уточнить, что эта процедура проводится отдельно в каждом из контуров тормозной системы.
                |Поэтому перед ее выполнением уточните в мануале или технической документации строение
                |упомянутой системы с тем, чтобы понимать, в какой последовательности и что делать.
            p
                |В частности, от этого зависит последовательность прокачивания тормозов на колесах.
                |В любом случае на машинах с левым рулем меняют жидкость на правом заднем колесе.
                |Далее, если система контуров параллельная, то следующее колесо — левое заднее.
                |Далее — правое переднее и левое переднее. Если же система диагональная, то вторым
                |колесом будет левое переднее, третьим — заднее левое, четвертым — переднее правое.

            h2 Последовательность замены
            ul
                li
                    |В большинстве случаев замена тормозной жидкости проводится по следующему
                    |алгоритму (первый, так называемый последовательный способ):
                li
                    |Машина загоняется на эстакаду или подъемник таким образом, чтобы был нормальный доступ к тормозным цилиндрам (их штуцерам).
                li
                    |С машины снимают все колеса.
                li
                    |Надеть на штуцеры тормозных цилиндров плотные шланги, второй конец которых поместить в пластиковые бутылки.
                li
                    |Откачать с помощью шприца ТЖ из расширительного бачка.

                li
                    |Отвернуть штуцеры и убедиться, что ТЖ начинает течь в бутылки (отвернуть не сильно, чтобы поток был небольшим).

                li
                    |При этом обязательно нужно контролировать опустошение расширительного бачка, и при необходимости доливать в него новую жидкость, дабы не завоздушить тормозную систему.

                li
                    |Контролировать количество жидкости в сливных бутылках. Как только по шлангу польется новая ТЖ (ее вы легко определите по цвету), сразу же необходимо закрутить штуцер. Приблизительный объем в бутылке старой ТЖ составляет 200...300 мл.

                li
                    |После того как из всех штуцеров полилась новая ТЖ необходимо проконтролировать момент их затяжки, чтобы гарантировать герметичность системы. Не забудьте надеть защитные колпачки!

                li
                    |Долить оставшуюся жидкость в расширительный бачок до линии максимального уровня.
        .two-img
            img(src="img/articles-auto1.jpg", alt="")
            img(src="img/articles-auto2.jpg", alt="")
        .article-content
            p
                |Если у вас нет возможности загнать автомобиль на подъемник или
                |эстакаду, то можно поочередно снимать каждое колесо, устанавливая машину
                |на подпорку (не домкрат!). Соответственно, и доливать систему каждого колеса
                |необходимо по очереди в соответствии с описанной информацией (параллельная или
                |диагональная схема). Очень желательно для этого все же загнать машину на
                |смотровую яму с тем, чтобы у вас был нормальный доступ к цилиндрам.

            img(src="img/articles-auto1.jpg", alt="")

            p Второй метод замены, параллельный подразумевает выполнение следующих действий:
            ul
                li отвинчивание штуцеров на тормозных цилиндрах;

                li полное опустошение магистралей тормозной системы;

                li завинчивание штуцеров;

                li постепенное заполнение системы ТЖ вместе с параллельной ее прокачкой.

                li Как было упомянуто выше, такой способ также имеет право на существование, однако в силу его малого удобства и трудовых и временных затрат его редко используют.


