extends layouts/pages
block variables
	- var title = "Инфоавто  - Список страниц"

block content
	.container
		include ../blocks/modules/main/main
		.article-content
			h2=title
			ul
				li
					a(href="ui-kit.html") Ui-kit
				li
					a(href="home.html") Главная
				li
					a(href="car-repair.html") Ремонт автомобиля
				li
					a(href="article-detail.html") Детальная статьи
				li
					a(href="searching-results.html") Результаты поиска
				li
					a(href="marks-and-models.html") Марки и модели