mixin search(placeholder, hasIcon=false)
    .search
        form._form(action="", method="get", class=hasIcon ? 'search__icon' : '')
            input(type="text", name="q", placeholder=placeholder)
            button(type="submit") Найти