extends ../views/layouts/default
block variables
    - var title = "404";

block content
    .container
        include ../blocks/components/404-center/404-center
        include ../blocks/components/filter/filter
