extends ../views/layouts/default
block variables
    - var title = "Течет масло";
    - var breadcrumbs = ['Главная', 'Вопросы и ответы']

block content
    include ../blocks/components/card-question/card-question
    include ../blocks/components/breadcrumbs/breadcrumbs
    include ../blocks/components/banners/banners
    include ../data/faq

    main.section-gray
        .container
            +breadcrumbs(breadcrumbs)
            h1=title
            .section__container
                .section__main
                    include ../blocks/components/question/question
                .section__sidebar
                    include ../blocks/components/banner-ask-question/banner-ask-question

            +banners()




