extends ../views/layouts/default
block variables
    - var title = 'Марки и модели';
    - var breadcrumbs = ['Главная', 'Автомобили']

block content
    include ../blocks/components/breadcrumbs/breadcrumbs
    main.section-gray
        .container
            +breadcrumbs(breadcrumbs)
            h1=title
            include ../blocks/modules/marks-and-models/marks-and-models

