extends ../views/layouts/default
block variables
	- var title = "Главная";

block content
	include ../blocks/components/card/card
	include ../blocks/components/card-question/card-question
	include ../blocks/components/banners/banners
	include ../data/home

	include ../blocks/components/filter-main/filter-main
	section.section.section-white
		.container
			h2.h2 Kia Rio 3 поколение 2019 1.6 6AT (123 л.с.) G4FD Седан 4-дв. Prestige 
			.section__container
				include ../blocks/components/tab-feature/tab-feature


