.select {
  width: 100%;
}

.select2-container--infoauto {

  & .select2-selection--single {
    background: $white;
    border: 1px solid $white;
    border-radius: 4px;
    height: 42px;
    width: 100%;
    padding: 12px 9px 12px 13px;
    box-sizing: border-box;

    & .select2-selection__rendered {
      font-size: 15px;
      color: #ABABAB;
    }

    & .select2-selection__arrow {
      height: 42px;
      position: absolute;
      top: 1px;
      right: 1px;
      width: 30px;

      & b {
        border-color: #919191 transparent transparent transparent;
        border-style: solid;
        border-width: 7px 6px 0 6px;
        height: 0;
        left: 50%;
        margin-left: -9px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 0;
      }
    }
  }

  &.select2-container--open {
    &  .select2-selection--single {
      border: 1px solid #127AEF;
      box-sizing: border-box;


      & .select2-selection__arrow b {
        border-color: transparent transparent #919191 transparent;
        border-width: 0 6px 7px 6px;
        margin-top: -4px;
      }
    }
  }

  & .select2-dropdown {
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  & .select2-results__option {
    font-size: 15px;
    color: #333333;
    height: 40px;
    box-sizing: border-box;
    padding: 12px 9px 12px 13px;

    &:hover {
      background: #EFF1F4;
      color: #127AEF;
    }
  }
}



