mixin select(options, nameSelect)
    select(name=nameSelect).select.js-select
        for option, key in options
            - var attributes = {};
            if key === 0
                - var attributes = {'disabled': true, 'selected': true, 'hidden': true};

            option(value=option)&attributes(attributes)=option