.services
    a(href="#").services__item
        .services__img
            img(src="img/sprites/intermediate-svg/icon-service-repair.svg", alt="")
        span Ремонт автомобиля
    a(href="#").services__item
        .services__img
            img(src="img/sprites/intermediate-svg/icon-service-maintenance.svg", alt="")
        span Техобслуживание
    a(href="#").services__item
        .services__img
            img(src="img/sprites/intermediate-svg/icon-service-consumables.svg", alt="")
        span Расходные материалы

