.hint {
  position: relative;
  width: 20px;
  height: 20px;
  background: $hint-bgc;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $hint-color;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;

  &__message {
    position: absolute;
    left: 45px;
    top: -40px;
    width: 400px;
    height: auto;
    color: $base-color-text;
    background-color: $white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    border-radius: 8px;
    z-index: 3;

    @include sm-block {
      top: 40px;
      left: -134px;
    }

    @include to(426px) {
      width: #{calc(100vw - 24px)};
    }

    &:before {
      content: '';
      position: absolute;
      top: 40px;
      left: -9px;
      width: 17px;
      height: 17px;
      background-color: $white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      transform: rotate(45deg);
      z-index: -1;

      @include sm-block {
        left: 135px;
        top: -9px;
      }
    }

    &-inner {
      padding: 30px;
      background-color: $white;
      border-radius: 8px;

      @include sm-block {
        padding: 20px;
      }
    }

    &,
    & p,
    & ul {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: $hint-color-message;
    }

    & p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & span {
      color: $hint-color-required;
    }

    & i {
      font-style: italic;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: $hint-color-italic;
    }

    & ul {
      margin-bottom: 20px;

        li {
          position: relative;
          margin-bottom: 15px;
          padding-left: 15px;

          &:before {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            top: 0;
            bottom: 0;
            left: 0;
            right: auto;
            margin: auto;
            border-radius: 50%;
            background: $hint-color-message;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
    }
  }
}