include ../../components/select/select

-
    var optionsMark = [
        'Марка',
        'Toyota',
        'Лада',
        'Mazda'
    ];

-
    var optionsModel = [
        'Модель',
        'Camry',
        'Vesta',
        '323'
    ];

-
    var optionsGeneration = [
        'Поколение',
        '2018',
        '2016',
        'III (BF), 1985 — 1989'
    ];

section.personal-area
    .container
        include ../../components/personal-area-head/personal-area-head
        .personal-area__conteiner.js-tabs
            .personal-area__tabs
                ul
                    li
                        a(href="#" data-tab-menu='info' class='active') Личные данные
                    li
                        a(href="#" data-tab-menu='autos') Автомобили
                    li
                        a(href="#" data-tab-menu='ledger') Книга учета ТО
                    li
                        a(href="#" data-tab-menu='favorite') Избранное
                    li
                        a(href="#") Мои вопросы
                a(href="#").personal-area__logout Выйти
            .personal-area__content
                .personal-area__tab-item.active(data-tab-item='info')
                    form.personal-area__info(action='' method='POST')
                        input(name='name' type='text' placeholder='Как к вам обращаться?')
                        input(name='email' type='email' placeholder='Электронная почта')
                        h3.personal-area__h3 Сменить пароль
                        input(name='old_password' type='password' placeholder='Старый пароль')
                        input(name='new_password' type='password' placeholder='Новый пароль')
                        button(type='submit').button.button-yellow Сохранить
                .personal-area__tab-item(data-tab-item='autos')
                    .personal-area__auto-wrap
                        .personal-area__auto
                            .personal-area__info
                                | Lexus LX III Рестайлинг 2 2015 - н.в.
                            a(href="#").personal-area-area__remove
                            .remove.personal-area__remove Удалить
                        .personal-area__auto
                            .personal-area__info
                                | Lexus LX III Рестайлинг 2 2015 - н.в.
                            a(href="#").personal-area-area__remove
                            .remove.personal-area__remove Удалить
                        .personal-area__auto
                            .personal-area__info
                                | Lexus LX III Рестайлинг 2 2015 - н.в.
                            a(href="#").personal-area-area__remove
                            .remove.personal-area__remove Удалить
                        .personal-area__auto
                            .personal-area__info
                                | Lexus LX III Рестайлинг 2 2015 - н.в.
                            a(href="#").personal-area-area__remove
                            .remove.personal-area__remove Удалить

                    h3.personal-area__h3 Добавить
                    form.filter__form
                        .filter__item
                            +select(optionsMark, 'mark', 'js-select-gray')
                        .filter__item
                            +select(optionsModel, 'model', 'js-select-gray')
                        .filter__item
                            // Поколение
                            +select(optionsGeneration, 'generation', 'js-select-gray')
                        .filter__item
                            button.button.button-yellow Сохранить

                .personal-area__tab-item(data-tab-item='ledger')
                    include ../../components/ledger/ledger
                .personal-area__tab-item(data-tab-item='favorite')