.mobile-menu {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  background-color: $dark-gray;
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1000;
  padding-bottom: 20px;

  &__main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    & .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 15px;
      padding-bottom: 20px;

      &-item {
        padding: 0;
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }
        & span {
          display: block;
        }
      }
    }
  }

  &__footer {

    & .footer__menu,
    & .footer__sub-menu {
      margin-top: 25px;
      margin-bottom: 25px;
      & li {
        width: 100%;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        & a {
         color: $white;
        }
      }
    }
  }

  &__ask-question {
    & .button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 42px;
      max-width: 300px;
      box-sizing: border-box;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
