.mobile-menu.js-mobile-menu
    .mobile-menu__main
        .container
            include ../menu/menu
    .mobile-menu__footer
        .container
            include ../../modules/footer/footer-menu
    .mobile-menu__ask-question
        .container
            a(href="javascript:void(0)", data-modal-type='ask-question').button.button-yellow.js-modal-open Задать вопрос
