section.articles-detail
    .container
        img(src="img/articles.jpg", alt="")
        .articles-detail__content
            |Замена тормозной жидкости — обязательная процедура, целью которой является обеспечение 
            |нормальной работы тормозной системы автомобиля. Замену можно проводить на СТО или в 
            |домашних условиях. Однако процедура эта несложная, поэтому большинство автомобилистов 
            |вполне могут самостоятельно выполнить ее, сэкономив тем самым деньги. Исключением могут 
            |стать лишь машины с АБС, поскольку иногда требуется специальное оборудование.
            p
            |Стоит отметить, что существует два основных метода замены ТЖ — с последовательный и 
            |параллельный. Первый является наиболее популярным. Его суть заключается в 
            |последовательной замене жидкости в каждом отдельном исполняющем тормозном цилиндре. 
            |Во-первых, этот способ быстрее, а во-вторых, с его помощью автовладельцу не нужен помощник. 
            |Второй метод подразумевает полное опустошение магистралей и цилиндров тормозной системы, 
            |и последующее их заполнение новой жидкостью. Его недостатками является длительное время 
            |выполнения, некоторые неудобства и обязательное наличие помощника для прокачки тормозной 
            |системы. 