.breadcrumbs {
    padding-top: 20px;
    margin-bottom: 5px;
    list-style-type: none;
    @include md-block {
        padding-top: 14px;
        margin-bottom: 14px;
    }


    &__link {
        text-decoration: none;
    }

    &__item,
    &__item &__link {
        display: inline-block;
        position: relative;
        font-weight: normal;
        font-size: 14px;
        color: #a0a0af;
        line-height: 20px;
    }

    &__item:not(:last-child):after {
        content: "/";
        padding: 0 10px;
    }
}