ul.breadcrumbs
    li.breadcrumbs__item 
        a.breadcrumbs__link(href="#") Главная
    li.breadcrumbs__item 
        a.breadcrumbs__link(href="#") Статьи
h1.h1-breadcrumbs 7 проблем, поджидающих покупателя BMW 5-й серии в кузове F10       
