.pagination {
    margin-top: 25px;
    display: flex;

    &__wrap {
    }

    &__list {
        font-size: 0;
        display: inline-flex;
        vertical-align: middle;
    }

    &__item {
        width: 40px;
        height: 40px;

        &:hover {
            background: $yellow;
        }
    }

    &__item.active {
        background: $dark-gray;
        color: $white;
    }

    &__item,
    &__prev,
    &__next {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        color: $dark-gray;
        text-decoration: none;
        -webkit-transition: 0.5s all ease;
        -moz-transition: 0.5s all ease;
        -ms-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        transition: 0.5s all ease;
    }


    &__prev,
    &__next {
        display: inline-block;
        vertical-align: middle;
        border-bottom: 2px solid transparent;
        height: auto;
        padding-bottom: 3px;

        &:hover {
            border-bottom: 2px solid $yellow;
        }
    }

    &__prev {
        margin-right: 15px;
    }

    &__next {
        margin-left: 15px;
    }
}
