.pagination
    nav.pagination__wrap
        //a(href="#").pagination__prev Назад
        .pagination__list Назад
            a(href="#").pagination__item 1
            a(href="#").pagination__item.active 2
            a(href="#").pagination__item 3
            a(href="#").pagination__item 4
        a(href="#").pagination__next Далее