.banner-ask-question
    .banner-ask-question__text
        p Не нашлось нужной публикации?
        p Специалисты готовы поделиться своими знаниями.
        p Спрашивай!
    a(href="javascript:void(0)").button.button-yellow Задать вопрос



