.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include sm-block {
        justify-content: flex-start;
    }

    &__item {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        @include transition(0.2s);

        &:hover {
            color: #127aef;
        }

        &:first-child {
            margin-left: 0;
        }

        &:before {
            content: "";
            position: absolute;
        }
    }

    $hover-color: '127aef';

    &__icon-vk {
        background-image: url(icon-vkontakte());
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;

        &:hover {
            background-image: url(icon-vkontakte($hover-color));
        }
    }

    &__icon-fb {
        background-image: url(icon-facebook());
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;

        &:hover {
            background-image: url(icon-facebook($hover-color));
        }
    }

    &__icon-ok {
        background-image: url(icon-odnoklassniki());
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;

        &:hover {
        background-image: url(icon-odnoklassniki($hover-color));
    }
    }

    &__icon-insta {
        background-image: url(icon-insta());
        background-repeat: no-repeat;
        width: 15px;
        height: 14px;

        &:hover {
            background-image: url(icon-insta($hover-color));
        }
    }
}
