.question
    .question__top
        .question__title
            span.auto-front
                | Автомобиль:
                |
            span Honda HR-V
    .question__list
        .question__item.question__right
            .question__name Вопрос
            .question__text
                | Течет масло. Поменял сальники коленвала, прокладку поддона. Проездил короткое время посмотрел уровень-опять упал. По виду опять прокладка поддона. Сальник сухой. Может у кого было что подобное? Подскажите причину. С декабря месяца борюсь с протечкой. Каждую, почти, неделю в сервисе.
        .question__item.question__left
            .question__name.question__name_answer Ответ эксперта
            .question__text
                | Попробуйте перед установкой поддона нанести потолще слой герметика, 2-3 мм толщиной. Только сразу не затягивайте - дайте ему немного загустеть. А потом равномерно, по такому же принципу как затягиваете ГБЦ, постепенно, притяните поддон. Только тяните не со всей силы! Ваша задача плотно прижать его, а не затянуть!

    include ../share/share