ul.footer__menu
    li
        a(href="#") Ремонт автомобиля
    li
        a(href="#") Техобслуживание
    li
        a(href="#") Расходные материалы
ul.footer__sub-menu
    li
        a(href="#") Все материалы
    li
        a(href="#") Автомобили
    li
        a(href="#") Вопрос/ответ
    li
        a(href="#") О нас