footer.footer
    .container
        .footer__top
            .footer__hulf
                ul.footer__menu
                    li
                        a(href="#") Ремонт автомобиля
                    li
                        a(href="#") Техобслуживание
                    li
                        a(href="#") Расходные материалы
                ul.footer__sub-menu
                    li
                        a(href="#") Все материалы
                    li
                        a(href="#") Автомобили
                    li
                        a(href="#") Вопрос/ответ
                    li
                        a(href="#") О нас
            .footer__hulf
                include ../../components/social/social
        .footer__bottom
            .footer__hulf
                .footer__copyright &copy; 2019 «Инфо Авто». Все права защищены
            .footer__hulf
                a(href="https://letsrock.pro/", target="_blank").footer__letsrock
                    | Разработка сайта —
                    img(src="img/sprites/intermediate-svg/letsrock.svg")


