footer.footer
    .container
        .footer__top
            .footer__hulf
                include footer-menu
            .footer__hulf
                include ../../components/social/social
        .footer__bottom
            .footer__hulf
                .footer__copyright &copy; 2019 «Инфо Авто». Все права защищены
            .footer__hulf
                a(href="https://letsrock.pro/", target="_blank").footer__letsrock
                    | Разработка сайта —
                    img(src="img/sprites/intermediate-svg/letsrock.svg")


