.ledger {
  display: table;
  border-collapse:separate;
  border-spacing: 0 10px;
  width: 100%;
  padding-bottom: 10px;
  margin-top: -16px;

  @include lg-block {
    display: block;
  }

  &__head {
    display: block;
    font-weight: normal;
    font-size: 15px;
    color: #919191;

    @include lg-block {
      display: none;
    }
  }

  &__body {
    @include lg-block {
      display: block;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 10px;

    border: 1px solid #e0e0e0;
    border-radius: 3px;

    @include lg-block {
      display: flex;
      flex-direction: column;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
    }
  }

  &__form {

    &-row {
      margin-bottom: 25px;
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include lg-block {
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        padding: 20px 15px 0;
      }

      @include md-block {
        padding: 13px 12px;
      }

      & input,
      & .select2 {
        width: 100%;
        height: 42px;
        @include lg-block {
          width: 100%;
          min-width: 100%;
          max-width: 100%;
          margin-bottom: 14px;
        }
      }
    }



    & .button-add {
      height: 30px;
      padding-top: 0;
      padding-bottom: 0;
      box-sizing: border-box;
      margin-top: 20px;
      display: inline-flex;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    padding: 18px 15px;
    width: 100%;
    max-width: 270px;
    box-sizing: border-box;

    @include lg-block {
      display: block;
      width: 100%;
      max-width: inherit;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      box-sizing: border-box;

      &:before {
        content: attr(data-th);
        display: block;
        font-size: 13px;
        line-height: 25px;
        color: #919191;
      }

      &:first-child {
        border: none;
      }

      &:last-child {
        border: none;
      }
    }

    @include md-block {
      padding: 10px 12px;
    }

  }

  &__head &__row,
  &__head &__item {
    border: none;
  }

  &__head &__item {
    font-weight: normal;
    font-size: 15px;
    color: #919191;
    padding-top: 0;
    padding-bottom: 5px;

    &:last-child {
      max-width: 120px;
    }
  }

  &__body &__item {
    font-weight: normal;
    font-size: 15px;
    color: #333333;
  }

  &__select {
    max-width: 270px;
    width: 100%;
    @include lg-block {
      display: block;
      width: 100%;
      box-sizing: border-box;
      min-width: 100%;
      max-width: 100%;
      padding-right: 0;
    }

  }

  &__date,
  &__length {
    max-width: 170px;
    box-sizing: border-box;

    @include xl-block {
      max-width: 120px;
    }

    @include lg-block {
      display: block;
      width: 100%;
      box-sizing: border-box;
      min-width: 100%;
      max-width: 100%;
    }
  }

  &__date {
    ::-webkit-inner-spin-button { display: none; }
  }

  &__text {
    @include lg-block {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }

   &__remove {
    max-width: 120px;
    padding: 12px 15px;
    text-align: right;
    font-weight: normal;
    font-size: 15px;
    color: #919191;

    @include lg-block {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding-top: 0;
      max-width: inherit;
    }

    @include sm-block {
      position: relative;
      padding: 5px;

      & .remove {
       position: absolute;
       bottom: 0;
       right: 0;
      }
    }
  }

  &__form &__remove {
    @include lg-block {
      padding-top: 0;
      padding-right: 0;
    }

    @include sm-block {
      & .remove {
        position: absolute;
        bottom: -13px;
        right: -12px;
      }
    }
  }

  &__form &__date,
  &__form &__length,
  &__form &__select,
  &__form &__text,
  &__form &__date {
    position: relative;
    margin-right: 12px;
    @include md-block {
      padding-bottom: 8px;
      margin-right: 0;
    }
  }

  &__form &__remove {
    position: relative;
  }
}
