section.tab-feature
    .tab-feature__nav
        a.tab-feature__link(href="javascript:void(0)")
            .tab-feature__img
            img(src="img/sprites/intermediate-svg/engine.svg", alt="")
            span Двигатель
        a.tab-feature__link(href="javascript:void(0)")
            .tab-feature__img
            img(src="img/sprites/intermediate-svg/transmission.svg", alt="")
            span Трансмиссия
        a.tab-feature__link(href="javascript:void(0)")
            .tab-feature__img
            img(src="img/sprites/intermediate-svg/body.svg", alt="")
            span Кузов
        a.tab-feature__link(href="javascript:void(0)")
            .tab-feature__img
            img(src="img/sprites/intermediate-svg/electronics.svg", alt="")
            span Электроника
        a.tab-feature__link(href="javascript:void(0)")
            .tab-feature__img
            img(src="img/sprites/intermediate-svg/running-system.svg", alt="")
            span Ходовая система
        a.tab-feature__link(href="javascript:void(0)")
            .tab-feature__img
            img(src="img/sprites/intermediate-svg/brake-system.svg", alt="")
            span Тормозная система


//- data-tab="engine"
//- data-tab="transmission"
//- data-tab="body"
//- data-tab="electronics"
//- data-tab="running-system"
//- data-tab="brake-system"