.banners-sidebar
    .banners-sidebar__list
        a(href="#").banners-sidebar__item
            img(src='img/banner_2.png', alt='')
        a(href="#").banners-sidebar__item
            img(src='img/banner_1.png', alt='')

