mixin share(isTop = false)
    .share.js-share
        .share__text Поделиться с друзьями
        .share__dropdown.js-share-dropdown(class=isTop?'share__dropdown_top':'')
            .ya-share2(data-services="vkontakte,facebook,twitter,odnoklassniki")