-
	var cards = [{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		marks: [
			"Техобслуживание",
			"Не техобслуживание",
			"Не техобслуживание",
			"Не техобслуживание",
			"Не техобслуживание"
		]

	},{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		marks: [
			"Техобслуживание",
			"Не техобслуживание"
		]
	},{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		marks: [
			"Техобслуживание",
			"Не техобслуживание"
		]

	},
	{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		marks: [
			"Техобслуживание",
			"Не техобслуживание"
		]

	},
	{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		marks: [
			"Техобслуживание",
			"Не техобслуживание"
		]

	},
	{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		marks: [
			"Техобслуживание",
			"Не техобслуживание"
		]

	}];
