-
	var cards = [{
		img: "img/card.jpg",
		title: "Как устранить свист ремня генератора",
		type: 'card'

	},{
		img: "img/card.jpg",
		title: "Замена ремня ГРМ на Chery Tiggo с двигателем Acteco 1,8",
		type: 'card'
	},{
		img: "img/card.jpg",
		title: "Замена ремня ГРМ на Chery Tiggo с двигателем Acteco 1,8 Замена ремня ГРМ на Chery Tiggo с двигателем Acteco 1,8",
		type: 'card'
	},
	{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		type: 'card'
	},
	{
		img: "img/card-banner-1.jpg",
		type: 'banner'
	},
	{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		type: 'card'
	},
	{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		type: 'card'
	},
	{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		type: 'card'
	},
	{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		type: 'card'
	},
	{
		img: "img/card-banner-2.jpg",
		type: 'banner'
	},
	{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		type: 'card'
	},
	{
		img: "img/card.jpg",
		title: "Замена тормозной жидкости",
		type: 'card'
	}];