-
    var questions = [
        {
            auto: 'Mazda 323 III (BF) 1985 — 1989',
            title: 'Как установить другую магнитолу на Мазда 323 БФ?',
            hasAnswer: true
        },
        {
            auto: 'Opel Zafira A 1999-2005',
            title: 'Как узнать, какой не работает цилиндр на Опель Зафира А?',
            hasAnswer: true
        },
        {
            auto: 'Volkswagen Passat B4 1993-1997',
            title: 'Есть ли датчик освещенности за бортом на Пассат Б4?',
            hasAnswer: true
        },
        {
            auto: 'Volkswagen Passat B4 1993-1997',
            title: 'У какой модели Тойота Альфард лучше салон?',
            hasAnswer: false
        },
        {
            auto: 'Ford Focus 2 1993-1997',
            title: 'Ford Focus 2 неисправности неисправность двигателя 1.8',
            hasAnswer: true
        },
        {
            auto: 'Volkswagen Passat B4 1993-1997',
            title: 'У какой модели Тойота Альфард лучше салон?',
            hasAnswer: false
        },
        {
            auto: 'Ford Focus 2 1993-1997',
            title: 'Ford Focus 2 неисправности неисправность двигателя 1.8',
            hasAnswer: true
        },
        {
            auto: 'Ford Focus 2 1993-1997',
            title: 'Ford Focus 2 неисправности неисправность двигателя 1.8',
            hasAnswer: true
        },
        {
            auto: 'Ford Focus 2 1993-1997',
            title: 'Ford Focus 2 неисправности неисправность двигателя 1.8',
            hasAnswer: true
        },
    ];