-
	var cards = [{
		img: "img/card.jpg",
		title: "Как устранить свист ремня генератора",
		marks: [
			"Техобслуживание",
			"Не техобслуживание"
		]

	},{
		img: "img/card.jpg",
		title: "Замена ремня ГРМ на Chery Tiggo с двигателем Acteco 1,8",
		marks: [
			"Техобслуживание",
			"Не техобслуживание"
		]
	},{
		img: "img/card.jpg",
		title: "Замена ремней привода ГРМ и ТНВД на Audi A6 2.5 TDI V6",
		marks: [
			"Техобслуживание"
		]
	},
	{
		img: "img/card.jpg",
		title: "Замена масла в вариаторе на Nissan Qashqai",
		marks: [
			"Техобслуживание",
			"Не техобслуживание"
		]
	},
	{
		img: "img/card.jpg",
		title: "Жидкая шумоизоляция для днища и арок",
		marks: [
			"Техобслуживание",
			"Не техобслуживание"
		]
	},
	{
		img: "img/card.jpg",
		title: "Снятие и ремонт ручки двери Лада Самара (ВАЗ 2108,09,14,15",
		marks: [
			"Техобслуживание",
			"Не техобслуживание"
		]
	}];

-
	var questions = [
		{
			auto: 'Mazda 323 III (BF) 1985 — 1989',
			title: 'Как установить другую магнитолу на Мазда 323 БФ?',
			hasAnswer: true
		},
		{
			auto: 'Ford Focus 2 неисправности неисправность двигателя 1.8',
			title: 'Как узнать, какой не работает цилиндр на Опель Зафира А?',
			hasAnswer: true
		},
		{
			auto: 'Mazda 323 III (BF) 1985 — 1989',
			title: 'Всё о тормозных колодках Nisshinbo! Ответы на вопросы, рекомендации специалистов',
			hasAnswer: true
		},
		{
			auto: 'Opel Zafira A 1999-2005',
			title: 'Как узнать, какой не работает цилиндр на Опель Зафира А?',
			hasAnswer: false
		},
		{
			auto: 'Mazda 323 III (BF) 1985 — 1989',
			title: 'Как установить другую магнитолу на Мазда 323 БФ? ',
			hasAnswer: true
		},
		{
			auto: 'Opel Zafira A 1999-2005',
			title: 'Как узнать, какой не работает цилиндр на Опель Зафира А?',
			hasAnswer: false
		},
	];