@include reset();

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: $base-color-text;
}

h1, h2, h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}

h1,
.h1 {
  font-weight: 500;
  font-size: 40px;
  color: #16162d;
}

h2,
.h2 {
  font-weight: 500;
  font-size: 30px;
  color: #16162d;
}

h3,
.h3 {
  font-weight: 500;
  font-size: 24px;
  color: #16162d;
}

main {
  padding-bottom: 60px;
  height: 100%;

  h1 {
    margin-bottom: 45px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  @include container();
  @include sm(max-width, 510px);
  @include md(max-width, 690px);
  @include lg(max-width, 930px);
  @include xl(max-width, 1280px);
}

.img-responsive {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__list {
    margin-bottom: 50px;

    & h2,
    & .h2 {
      margin-bottom: 25px;
    }
  }
}

.section-white {
  background-color: $section-white;
}

.section-gray {
  background-color: $section-gray;
}

body .hide {
  display: none;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  background: $input-bg;
  border-radius: 4px;
  padding: 15px 14px;
  font-size: 15px;
  color: $input-color;
  border: none;
  box-sizing: border-box;

  &::placeholder { /* Firefox, Chrome, Opera */
    color: $input-placeholder;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $input-placeholder;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $input-placeholder;
  }

  &:focus {
    outline: none;
  }

}