.banners {
  margin-top: 30px;
  margin-bottom: 55px;

  @include md-block {
    margin-bottom: 20px;
  }

  &__list {
    @include row-flex();
  }

  &__item {
    @include col();
    @include size(3);
    @include size-md(6);
    margin-left: 10px;
    margin-right: 10px;
    width: calc(25% - 20px);
    text-decoration: none;
    display: inline-block;
    @include md-block {
      margin-bottom: 10px;
    }
    @include to(425px) {
      width: 100%;
    }
    & img {
      width: 100%;
    }
  }
}