section.banners.section-white
    .container
        .banners__list
            a(href="#").banners__item
                img(src='img/banner_1.png', alt='')
            a(href="#").banners__item
                img(src='img/banner_2.png', alt='')
            a(href="#").banners__item
                img(src='img/banner_3.png', alt='')
            a(href="#").banners__item
                img(src='img/banner_4.png', alt='')